.upload_image .file-thumbnail-footer
{
	display:none;
}
.contimg {
	height: auto;
	width: 70px;
	max-height: 150px;
}
.contimg img {
	
    width: 100%;
	transition: all .2s ease-in-out;
}
.contimg img:hover 
{ 
	transform: scale(1.1); 
	cursor: pointer;
}
img.maximizada
{
	width: 80%;

}
.file-preview-frame 
{
	height: auto !important;	
}
.file-preview-frame img
{
	width: 200px !important;
	height: auto !important;	
}