.upload_image .file-thumbnail-footer
{
	display:none;
}
.contimg {
	height: auto;
	width: 70px;
	max-height: 150px;
}
.contimg img {
	
    width: 100%;
	transition: all .2s ease-in-out;
}
.contimg img:hover 
{ 
	transform: scale(1.1); 
	cursor: pointer;
}
img.maximizada
{
	width: 80%;

}
.file-preview-frame 
{
	height: auto !important;	
}
.file-preview-frame img
{
	width: 200px !important;
	height: auto !important;	
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f3f0f0;
}
.table-striped>tbody>tr:hover {
    background-color: #ccc;
}
.espera
{
    /*display: none;
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: rgba(218,218,218,0.87);
   opacity: .5;
    top:0;
    z-index: 9999;*/

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    /*background-color: #000;*/
     background-color: rgba(218,218,218,0.87);
     
}
.centro
{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -30px;
}
.centro img
{
    width: 60px;
    height: 60px;
}
.modal-95 {
    width: 90% !important;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
  
    overflow-x: hidden;
}
.estilofila
{
    border: none;
    background-color: transparent;
    width: 100%;
}
.ui-tooltip
 {
     display: none!important;
 }
.select2-container .select2-selection--single .select2-selection__rendered {
    
    padding-left: 0px !important;
    padding-right: 8px !important;  
}
.bootstrap-table #tingresos > thead > tr > th {
    vertical-align: super !important;
}
tr.view
{
    background-color: rgba(60, 141, 188, 0.26) !important;
}
.subtitle {
    font-weight: bold;
    text-align: right;
    background-color: #3c8dbc !important;
    color: white;
  }
thead input {
    width: 100%;
}


.googleCalendar{
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 70%;
  }
  
  .googleCalendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .styleGreen
  {

    background-color:LightGreen !important;
  }
  .styleRed
  {

    background-color:LightCoral !important;
  }
  .montopagar
  {
    float:right;
    width:80%;
    text-align: right;
  }
  .modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
/* modal vue */
.modal-container {
  width: 1000px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 10;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}