.DS_Store
/vendor

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

application/third_party/back/*


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
#config codeigniter
/application/config/config.php
application/config/database.php
test
application/config/config.php
/assets/img_articulos
/assets/img_pagos
/assets/img_ingresos
/assets/imagenes
/assets/facComProv
assets/pagoProveedores
/qr
.htaccess

/application/third_party/phpqrcode

